.home__footer {
  font-family: var(--tipografiaGeneral);
}

.home__footer__div--titulos {
  font-size: var(--tamañoTitulares);
  color: var(--colorGrisOscuro);
}

.home__footer__div--descripcion {
  font-size: var(--tamañoDescripcion);
  color: var(--colorGrisOscuro);
}

.home__footer__div {
  width: 100%;
  margin: 10px;
  text-align: center;
}

.home__footer__div i {
  font-size: 30px;
  color: var(--colorCeleste);
}

@media (min-width: 768px) {
}

@media (min-width: 1080px) {
  .home__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .home__footer__div {
    width: 30%;
  }
}
