.home__header {
  background-color: var(--colorAmarillo);
  width: 100%;
  padding: 25px 0;
  font-family: var(--tipografiaGeneral);
}

.home__header_div-logo-barra {
  display: flex;
  justify-content: space-between;
  /* margin: 0 2rem; */
}

.home__header__img--logo {
  width: 50%;
  /* margin-left: 15px; */
}

.home__header_form--barra {
  width: 50%;
}
.home__header__input--search-bar {
  width: 96%;
  margin-left: 0;
  margin-top: 15px;
  border: none;
  border-radius: 2px;
  padding: 5px;
}

.home__header--logo-search {
  margin-left: -18px;
  border: none;
  background-color: white;
  color: var(--colorGrisOscuro);
}

.home__header__p--anuncio {
  font-size: var(--tamañoCuerposDeTexto);
  text-align: center;
  margin: 5px;
  padding: 10px 0px;
}

.home__header__div--burger-menu {
  background-color: var(--colorCeleste);
  color: #ffff;
  display: block;
  max-width: 50px;
  padding: 15px 0px;
  border-radius: 8px;
  text-align: center;
  font-size: 1rem;
  margin: auto;
  margin-top: 25px;
}

.home__header_nav {
  display: none;
}

.home__header__ul--nav-bar {
  display: none;
}

.home__header__ul--login-bar {
  display: none;
}

@media (min-width: 768px) {
  /* ENCABEZADO */

  .home__header_section-encabezado {
    display: flex;
    justify-content: center;
  }

  .home__header__img--logo img {
    width: 100%;
  }

  .home__header_form--barra {
    margin-left: 20px;
  }

  .home__header__p--anuncio {
    font-size: var(--tamañoCuerposDeTexto);
    margin-right: 20px;
  }

  .home__header__div--burger-menu {
    display: none;
  }

  /* NAVEGACION */

  .home__header__nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .home__header__ul--nav-bar li {
    display: inline-block;
    padding: 0px 10px;
  }

  .home__header__ul--login-bar li {
    display: inline-block;
    padding: 0px 10px;
  }

  .home__header__ul--nav-bar {
    display: inline-block;
  }

  .home__header__ul--login-bar {
    display: inline-block;
  }
}

@media (min-width: 1024px) {

  /* ENCABEZADO */

  .home__header_section-encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home__header__img--logo img {
    width: 100%;
    transform: scale(1.1);
  }

  .home__header_form--barra {
    margin-left: 150px;
  }

  .home__header__p--anuncio {
    font-size: var(--tamañoCuerposDeTexto);
    margin-right: 20px;
  }

  .home__header__div--burger-menu {
    display: none;
  }

  /* NAVEGACION */

  .home__header__nav {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .home__header__ul--nav-bar li {
    display: inline-block;
    padding: 0px 20px;
  }

  .home__header__ul--login-bar li {
    display: inline-block;
    padding: 0px 30px;
  }

  .home__header__ul--nav-bar {
    display: inline-block;
  }

  .home__header__ul--login-bar {
    display: inline-block;
  }
}
