.home__header {
    background-color: var(--colorAmarillo);
    padding: 20px;
    font-family: var(--tipografiaGeneral);
    text-align: center;
}

.home__header__img--logo{
    width: 60%;
}

.home__header__input--search-bar{
    width: 80%;
    font-size: var(--tamañoCuerposDeTexto);
}


.home__header__div--anuncio{
    font-size: var(--tamañoCuerposDeTexto);
    text-align: center;
    margin-top: 10px;
}

.home__header__div--burger-menu{
    background-color: var(--colorAzul);
    color: #ffff;
    display: block;
    max-width: 80px;
    padding: 15px 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
    margin-top: 25px;
}

.home__header__nav--nav-bar{
    font-size: var(--tamañoCuerposDeTexto);
    color: black;
    display: none;
}

.home__header__nav--login-bar{
    font-size: var(--tamañoCuerposDeTexto);
    color: black;
    display: none;
}

.home__main{
    margin: 0 auto;
    width: 90%;
}

.home__main__section--ultima-visita{
    font-size: var(--tamañoTitulares);

}

.home__main__div--precios{
    font-size: var(--tamañoPrecios);
}

.home__main__div--descuentos {
    font-size: var(--tamañoDescuentos);
    color: var(--colorVerde);
}

.home__main__div--descripcion {
    font-size: var(--tamañoDescripcion);
}


.home__main__div--product{
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.home__main__div--product img {
    margin-bottom: 10px;
} 

.home__main__div--product i{
    color: var(--colorVerde);
    border-radius: 15%;
}

.home__main__section--ofertas{
    font-size: var(--tamañoTitulares);
} 

.home__footer{
    text-align: center;
    font-family: var(--tipografiaGeneral);
}

.home__footer__div--titulos{
    font-size: var(--tamañoTitulares);
    color: var(--colorGrisOscuro);
}

.home__footer__div--descripcion{
    font-size: var(--tamañoDescripcion);
    color: var(--colorGrisOscuro);
}

.home__footer__div-pago{
    color: var(--colorAzul);
    width: 100%;
    max-width: 300px;
    margin: 10px;
}

.home__footer__div-envio{
    color: var(--colorAzul);
    width: 100%;
    max-width: 300px;
    margin: 10px;
}

.home__footer__div-garantia{
    color: var(--colorAzul);
    width: 100%;
    max-width: 300px;
    margin: 10px;
}

.home__footer__div-copyright{
    width: 100%;
    max-width: 300px;
    margin: 10px;
}