.home__header {
    background-color: var(--colorAmarillo);
    padding: 20px;
    font-family: var(--tipografiaGeneral);
}

.home__header__img--logo{
    width: 60%;
}

.home__header__input--search-bar{
    width: 80%;
    font-size: var(--tamañoCuerposDeTexto);
}


.home__header__div--anuncio{
    font-size: var(--tamañoCuerposDeTexto);
    text-align: center;
    margin-top: 10px;
}

.home__header__div--burger-menu{
    background-color: var(--colorAzul);
    color: #ffff;
    display: block;
    max-width: 50px;
    padding: 15px 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
    margin-top: 25px;
}

.home__header__nav--nav-bar{
    font-size: var(--tamañoCuerposDeTexto);
    color: black;
}

.home__header__nav--login-bar{
    font-size: var(--tamañoCuerposDeTexto);
    color: black;
}

/* .home__main{

} */

.home__main__section--ultima-visita{
    font-size: var(--tamañoTitulares);
    text-align: center;
}

.home__header__div--precios{
    font-size: var(--tamañoPrecios);
    text-align: center;
}

.home__header__div--descuentos {
    font-size: var(--tamañoDescuentos);
    text-align: center;
}

.home__main__div--descripcion {
    font-size: var(--tamañoDescripcion);
    text-align: center;
}


/* .home__main__div--cafetera{

} */

/* .home__main__div--macbook{

}
 */
/* .home__main__div--galaxy{

} */

/* .home__main__div--tv{

} */

.home__main__section--ofertas{
    font-size: var(--tamañoTitulares);
    text-align: center;
} 

/* .home__main__div--cafetera-off{

} */

/* .home__main__div--macbook-off{

} */

/* .home__main__div--galaxy-off{

} */

/* .home__main__div--tv-off{

} */

.home__footer{
    text-align: center;
    font-family: var(--tipografiaGeneral);
}

.home__footer__div--titulos{
    font-size: var(--tamañoTitulares);
    color: var(--colorGrisOscuro);
}

.home__footer__div--descripcion{
    font-size: var(--tamañoDescripcion);
    color: var(--colorGrisOscuro);
}

.home__footer__div-pago{
    color: var(--colorAzul);
}

.home__footer__div-envio{
    color: var(--colorAzul);
}

.home__footer__div-garantia{
    color: var(--colorAzul);
}

 /*.home__footer__div-copyright{
    
} */