.home__main {
  width: 100%;
  margin: 0 auto;
  background-color: var(--colorGrisClaro);
}

.home__main__figure--img-home-banner {
  width: 100%;
}

.home__main__section--catalogo {
  width: 90%;
  margin: 0 auto;
}

.home__main__section--titulo {
  font-size: var(--tamañoTitulares);
  color: var(--colorGrisOscuro);
  align-self: flex-start;
}

.home__main__article--product {
  width: 90%;
  margin: 0 auto;
  padding: 5px;
}

.home__main__article--product img {
  width: 100%;
}

.home__main__article--product i {
  padding: 10px;
  color: var(--colorVerde);
  border-radius: 50%;
  border: solid 1px;
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

.home__main__article--product:hover i {
  animation: rotate 2s ease;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-90deg);
  }

  0% {
    transform: rotate(0deg);
  }
}

.home__main__article--product-descripcion {
  border-top: 1px solid #ebebeb;
  background-color: white;
  position: relative;
  padding: 3px;
}

.home__main__article--product-precio-descuento {
  display: flex;
  align-items: baseline;
  margin: 5px;
}

.home__main__article--precios {
  flex-basis: 30%;
  margin-right: 10px;
  font-size: var(--tamañoPrecios);
}

.home__main__article--descuentos {
  flex-basis: 70%;
  font-size: var(--tamañoDescuentos);
  color: var(--colorVerde);
}

.home__main__article--product-descripcion h3 {
  color: var(--colorGrisOscuro);
  margin: 5px;
  display: none;
}

.home__main__div--product img {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .home__main__section--catalogo {
    width: 90%;
    margin: 0 auto;
  }

  .home__main__section__div-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .home__main__article--product:hover i {
    animation: rotate 2s ease;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(-90deg);
    }

    0% {
      transform: rotate(0deg);
    }
  }

  .home__main__article--product {
    width: 45%;
    margin: 10px 0;
    padding: 0px;
  }

  .home__main__article--product:hover {
    box-shadow: 0px 0px 15px rgb(100, 100, 100);
  }

  .home__main__article--product-precio-descuento {
    display: flex;
    align-items: baseline;
    margin: 5px;
  }

  .home__main__article--product-descripcion h3 {
    display: block;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  .home__main__article--product:hover h3 {
    height: 20px;
  }
}

@media (min-width: 1024px) {
  .home__main__section--catalogo {
    width: 90%;
    margin: 0px auto;
  }

  .home__main__section__div-articles {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .home__main__article--product:hover i {
    animation: rotate 2s ease;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(-90deg);
    }

    0% {
      transform: rotate(0deg);
    }
  }

  .home__main__article--product {
    width: 45%;
    margin: 10px;
    padding: 0px;
  }

  .home__main__article--product:hover {
    box-shadow: 0px 0px 15px rgb(100, 100, 100);
  }

  .home__main__article--product-descripcion h3 {
    display: block;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  .home__main__article--product:hover h3 {
    height: 20px;
  }
}
