<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %>

<body class="home">
    <%- include('partials/header') %>

    <main class="home__main">

        <figure class="home__main__figure--img-home-banner">
            <img src="/images/img-home-banner.jpg" alt="img-home-banner" width="100%">
        </figure>

        <section class="home__main__section--catalogo">

            <h1 class="home__main__section--titulo">Basado en tu última visita</h1>

            <div class="home__main__section__div-articles">
                <article class="home__main__article--product">
                    <img src="images/img-cafetera-moulinex.jpg" alt="Imagen de la cafetera">

                    <div class="home__main__article--product-descripcion">

                        <i class="fas fa-truck"></i>
                        
                        <div class="home__main__article--product-precio-descuento">
                            <p class="home__main__article--precios">$6.770</p>
                            <p class="home__main__article--descuentos">40% off</p>
                        </div>

                        <h3 class="home__main__article--desripcion">Cafetera Moulinex</h3>

                    </div>
                </article>

                <article class="home__main__article--product">

                    <img src="images/img-macbook-pro-2019.jpg" alt="Imagen de MacBook">

                    <div class="home__main__article--product-descripcion">

                        <i class="fas fa-truck"></i>

                        <div class="home__main__article--product-precio-descuento">
                            <p class="home__main__article--precios">$230.000</p>
                            <p class="home__main__article--descuentos">20% off</p>
                        </div>

                        <h3 class="home__main__article--desripcion">MacBook Pro 2019</h3>

                    </div>

                </article>

                <article class="home__main__article--product">

                    <img src="images/img-samsung-galaxy-s10.jpg" alt="Imagen del Samsung Galaxy">

                    <div class="home__main__article--product-descripcion">

                        <i class="fas fa-truck"></i>

                        <div class="home__main__article--product-precio-descuento">
                            <p class="home__main__article--precios">$70.500</p>
                            <p class="home__main__article--descuentos">10% off</p>
                        </div>

                        <h3 class="home__main__article--desripcion">Samsung Galaxy S10</h3>

                    </div>

                </article>

                <article class="home__main__article--product">

                    <img src="images/img-tv-samsung-smart.jpg" alt="Imagen del SmartTv">

                    <div class="home__main__article--product-descripcion">

                        <i class="fas fa-truck"></i>

                        <div class="home__main__article--product-precio-descuento">
                            <p class="home__main__article--precios">$23.200</p>
                            <p class="home__main__article--descuentos">5% off</p>
                        </div>
                        
                        <h3 class="home__main__article--desripcion">SmartTv Samsung 43"</h3>
                    </div>
                </article>
            </div>

        </section>


        <section class="home__main__section--catalogo">

            <h1 class="home__main__section--titulo">Ofertas</h1>

            <div class="home__main__section__div-articles">
                <article class="home__main__article--product">
                    
                    <img src="images/img-cafetera-moulinex.jpg" alt="Imagen de la cafetera">

                    <div class="home__main__article--product-descripcion">
                        <i class="fas fa-truck"></i>

                        <div class="home__main__article--product-precio-descuento">
                            <p class="home__main__article--precios">$6.770</p>
                            <p class="home__main__article--descuentos">40% off</p>
                        </div>

                        <h3 class="home__main__article--desripcion">Cafetera Moulinex</h3>
                    </div>

                </article>

                <article class="home__main__article--product">
                    <img src="images/img-macbook-pro-2019.jpg" alt="Imagen de MacBook">

                    <div class="home__main__article--product-descripcion">

                        <i class="fas fa-truck"></i>

                        <div class="home__main__article--product-precio-descuento">
                            <p class="home__main__article--precios">$230.000</p>
                            <p class="home__main__article--descuentos">20% off</p>
                        </div>

                        <h3 class="home__main__article--desripcion">MacBook Pro 2019</h3>

                    </div>
                </article>

                <article class="home__main__article--product">
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="Imagen del Samsung Galaxy">
                    <div class="home__main__article--product-descripcion">
                        <i class="fas fa-truck"></i>

                        <div class="home__main__article--product-precio-descuento">
                            <p class="home__main__article--precios">$70.500</p>
                            <p class="home__main__article--descuentos">10% off</p>
                        </div>

                        <h3 class="home__main__article--desripcion">Samsung Galaxy S10</h3>

                    </div>
                </article>

                <article class="home__main__article--product">
                    <img src="images/img-tv-samsung-smart.jpg" alt="Imagen del SmartTv">

                    <div class="home__main__article--product-descripcion">

                        <i class="fas fa-truck"></i>

                        <div class="home__main__article--product-precio-descuento">
                            <p class="home__main__article--precios">$23.200</p>
                            <p class="home__main__article--descuentos">5% off</p>
                        </div>

                        <h3 class="home__main__article--desripcion">SmartTv Samsung 43"</h3>
                    </div>
                </article>
            </div>
        </section>
    </main>

<%- include('partials/footer') %>

</body>

</html>