<footer class="home__footer">
    <div class="home__footer__div">
        <i class="fas fa-credit-card"></i>
        <h4 class="home__footer__div--titulos">Pagá con tarjeta o en efectivo</h4>
        <p class="home__main__div--descripcion">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es
            seguro!</p>
    </div>

    <div class="home__footer__div">
        <i class="fas fa-gift"></i>
        <h4 class="home__footer__div--titulos">Envío gratis desde $2.500</h4>
        <p class="home__main__div--descripcion">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de
            Mercado Puntos.</p>
    </div>

    <div class="home__footer__div">
        <i class="fas fa-user-shield"></i>
        <h4 class="home__footer__div--titulos">Seguridad, de principio a fin</h4>
        <p class="home__main__div--descripcion">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre
            protegid@.</p>
    </div>

    <div class="home__footer__div">
        <p class="home__main__div--descripcion">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>
</footer>